VITE_SUPABASE_URL=https://aqdnzkjrbflciecluqyz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFxZG56a2pyYmZsY2llY2x1cXl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExOTI1NDAsImV4cCI6MjA5Njc2ODU0MH0.K114xWEMDJE_OlA039cjKtYfxk8NGHhddHvAJvHQOY0
VITE_API_BASE_URL=http://127.0.0.1:5000